@media (min-width: 768px) {
	.container {
		max-width: 1080px !important;
	}
}

.background-title,
.projects-title,
.projects-button,
.more-info,
.background-body {
	text-align: center;
}

.background-title,
.projects-title {
	font-size: 24px;
	margin-bottom: 20px;
}

.background-body,
.more-info,
.projects-button {
	font-size: 15px;
}

.more-info {
	font-size: 18px;
}

.projects-button > span,
.more-info > div {
	display: inline-block;
	border: 1px solid black;
	padding: 5px;
	margin: 25px 0 10px 0;
}

.more-info > div {
	background-color: lightgray;
	margin-bottom: 25px;
}

.project {
	display: inline-block;
	border: 1px solid black;
	height: 305px;
	width: 240px;
	margin: 0 53px;
	text-align: center;
	vertical-align: middle;
	padding: 120px 5px; 
}
