#resume {

	.languages > li,
	.tasks > li {
		padding-bottom: 10px;
	}

	.technologies,
	.experience,
	.education {
		margin-top: 50px;
	}

	.role {
		margin-bottom: 10px;
		font-size: 24px;
	}

	.job {
		margin-bottom: 32px;
	}

	span.set-green {
		color: green;
	}

	.degree {
		margin-bottom: 8px;
	}

	.company,
	.almamater {
		color: brown;
	}

	.company {
		margin-bottom: 8px;
	}

	.almamater {
		margin: 15px 0;
	}

	.education {
		margin-bottom: 20px;
	}

	.more-info {
		text-align: center;
	}

	.more-info > div:hover {
		background-color: darkgray;
	}

	.more-info > div {
		display: inline-block;
		border: 1px solid black;
		padding: 5px 10px;
		margin: 25px 0 10px 0;
		background-color: lightgray;
	}

	.resume-button {
		color: #2A5B86;
	}

}