#resume {
	font-size: 16px;

	.languages > li,
	.tasks > li {
		padding-bottom: 10px;
	}

	.technologies,
	.experience,
	.education {
		margin-top: 50px;
	}

	.role {
		font-size: 18px;
		margin-bottom: 10px;
	}

	.job {
		margin-bottom: 32px;
	}

	span.set-green {
		color: green;
	}

	.degree {
		margin-bottom: 8px;
		font-size: 18px;
	}

	.company,
	.almamater {
		color: brown;
	}

	.company {
		margin-bottom: 8px;
	}

	.almamater {
		margin: 15px 0;
	}

	.education {
		margin-bottom: 20px;
	}
}