// bower:scss
// endbower

@import '_home';
@import '_projects.scss';
@import '_resume.scss';
@import '_contact.scss';
@import '_about.scss';

body {
    font-family: 'Bangers', cursive;
    padding: 0;
    font-size: 15px;
}

.title {
    font-size: 30px;
}

.desc {
    font-size: 20px;
}

hr {
    margin: 60px 0;
}

.custom-navbar {
    margin-bottom: 40px;
    height: 430px;
    background-color: #3c3c3c;
    background:  linear-gradient(
                    rgba(61, 60, 60, 0.7), 
                    rgba(61, 60, 60, 0.7)
                ),
                url("/images/ironman-tech2.png"),
                url("/images/ironman-tech1.png");
    background-color: #000;
    background-repeat: no-repeat;
    background-size: 100%, 892px, 892px;
    background-position: center, 63px, 982px 2px;

    // background:  linear-gradient(
    //                 rgba(61, 60, 60, 0.7), 
    //                 rgba(61, 60, 60, 0.7)
    //             ),
    //             url("/images/ironman-tech2.png");
    // background-color: #000;
    // background-repeat: no-repeat;
    // background-size: 100%, 757px;
    // background-position: center, 200px;
}

.footer {
    margin-top: 80px;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    // border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
    height: 250px;
    background-color: #3c3c3c;
    color: #fff;
}

@media (min-width: 768px) {
    .container {
        max-width: 1080px !important;
    }

    /* Remove the padding we set earlier */
    .header,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
}

.active {
    border: 2px solid #fff;
}

.nav-header {
    color: #fff;
    font-size: 17px;
}

.nav-headers {
    float: right;
    margin: 5px 35px 0 0;
}

.navbar-brand {
    display: inline-block;
    color: #fff;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 30px;
    background-color: gray;
    position: relative;
    top: 10px;
    left: 10px;
}

.nav-title {
    color: #fff;
    position: absolute;
    margin-left: 50%; 
}

// @media screen and (max-width: 1030px) {
//     .nav-title {
//         left: 35%;
//     }
// }

// @media screen and (max-width: 820px) {
//     .nav-title {
//         left: 30%;
//     }
// }

#nav-title1 {
    top: 140px;
}

#nav-title2 {
    top: 193px;
}

.nav-title > h1,
.nav-title > h2,
.nav-title > h3 {
    margin-left: -50%;
}

.navbar-toggle {
    background-color: white;
}

.icon-bar {
    background-color: black;
}

.foot-wrapper {
    margin-left: 50%;
}

.navbar-footer {
    margin-left: -34%
}

.me {
    font-size: 17px;
    text-align: center;
    padding-top: 10px;
}

.footer-brand {
    @extend .navbar-brand;
    top: 0;
    left: 1px;
    width: 40px;
    height: 40px;
    line-height: 35px;
    vertical-align: middle;
}

.copyright {
    clear: both;
    text-align: center;
    padding-top: 14px;
}

.social-icons {
    text-align: center;
    img {
        width: 25px;
        height: 25px;
        margin: 25px;
    }
}

.pointer {
    cursor: pointer;
}
