#milestones {
    position: relative;
    margin-bottom: 80px;
}

#milestones .milestones-title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

#milestones .timeline {
    margin: 50px 0;
}

#milestones .event {
    display: inline-block;
    position: relative;
    border: 1px solid black;
    border-radius: 40px;
    padding: 20px;
    background-color: #61e8ec;
    left: 1%;
}

#milestones span:nth-child(2) {
    left: 1%;
}

#milestones .event {
    left: 60%;
    font-size: 20px;
}

#milestones hr.line {
    position: absolute;
    width: 100%;
    top: 28%;
    border-color: black;
    z-index: -1;
}
