#milestones {
    position: relative;
    margin-bottom: 185px;

    .milestones-title {
        text-align: center;
        font-size: 30px;
        margin-bottom: 20px;
    }

    .timeline {
        margin: 50px 0;
    }

    @mixin bubble {
        display: inline-block;
        border: 1px solid black;
        border-radius: 40px;
        padding: 20px;
        background-color: #61e8ec;        
        font-size: 20px;
        position: absolute;
    }

    .event-time {
        @include bubble; 
        top: 75%;
        box-shadow: 5px 5px 10px #000;
    }

    #index-0 {
        left: 2%;
    }
    #index-1 {
        left: 68.1%;
    }
    #index-2 {
        left: 75.4%;
    }
    #index-3 {
        left: 82.7%;
    }
    #index-4 {
        left: 90%;
    }

    .blow-up {
        transition: transform 1s ease-in,
            box-shadow 1s ease-out;
        @include bubble;
        transform: scale(1.5,1.5);        
        // max-height: 200px;
        // width: 200px;
        border-radius: 111px;
        text-align: center;
        // left: 56%;
        // top: 65%;
        z-index: 999;
        box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.56);

        div {
            margin-top: 5%;
        }

        span {
            vertical-align: middle;
        }
    }

    hr.line {
        position: absolute;
        width: 100%;
        top: 50%;
        border-color: black;
        z-index: -1;
    }    

    hr.hr-clear {
        position: relative;
        top: 120px;
    }
}