#milestones {
    position: relative;
    margin-bottom: 80px;
}

#milestones .milestones-title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

#milestones .timeline {
    margin: 50px 0;
}

@mixin bubble {
    display: inline-block;
    border: 1px solid black;
    border-radius: 40px;
    padding: 20px;
    background-color: #61e8ec;
}

#milestones .event {
    @include bubble;
    position: relative;
    left: 1%;
}

#milestones .custom-tip {
    @include bubble;
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 111px;
    text-align: center;

    div {
        margin-top: 30%;
    }
}

#milestones .custom-tip > span {
    vertical-align: middle;
}

#milestones #index-0 {
    left: 1%;
}

#milestones .event {
    left: 850%;
    font-size: 20px;
}

#milestones hr.line {
    position: absolute;
    width: 100%;
    top: 28%;
    border-color: black;
    z-index: -1;
}

.event-time {
    display: inline-block;
}