<div id="home">
    <p class="background-title title">Background</p>
    <p class="background-body desc">
        My passion for web development started with the idea of learning languages that are both abstract and foreign and translating them into a intuitive and usable product. Now, I find myself fully immersed in the world of development striving to create
        simple and creative applications that can improve our day to day tasks.
    </p>
    <hr />
    <div class="projects-list">
        <p class="projects-title title">Latest Projects</p>
        <div id="site" class="project desc" ng-mouseover="showInfo('one', true)" ng-mouseleave="showInfo('one', false)">
            Portfolio Website
            <p class="meta" ng-show="projects.one">
                Changed previous website's technology stack to the AngularJS framework and revamped UI. Added HTML5 Canvas components on the home page. 
            </p>
        </div>
        <div id="vacation-charts" class="project desc" ng-mouseover="showInfo('two', true)" ng-mouseleave="showInfo('two', false)">
            Pie Charting
            <p class="meta" ng-show="projects.two">
                CRUD type application providing pie chart data visualizations. UI powered by Angular and Javascript. REST API written in Python and Flask.
            </p>
        </div>
        <div id="connect-four" class="project desc" ng-mouseover="showInfo('three', true)" ng-mouseleave="showInfo('three', false)">
            Connect Four
            <p class="meta"  ng-show="projects.three">
                Connect Four web game. Interactive game written only in Javascript and jQuery.
            </p>
        </div>
        <div class="projects-button">
            <button class="btn desc" ui-sref="projects">VIEW MORE PROJECTS</button>
        </div>
    </div>
    <hr />
    <milestones-timeline></milestones-timeline>
    <div class="more-info">
        <div class="desc">
            <span>Need some help with your website?</span>
            <span><a ui-sref="contact">HIRE ME TODAY</a></span>
        </div>
    </div>
</div>
