<div id="projects">
    <article id="new-site" class="project">
        <span class="snapshot">
            <a ui-sref="{{projects.newSite.link}}" target="_blank">
                <img src="images/new-site.png" width="100%" />
            </a>
        </span>
        <div class="desc">
            <div class="title">
                Personal Website.
                <span class="sub-title"><a ui-sref="{{projects.newSite.link}}" target="_blank">Try Me</a></span>
            </div>            
            <p class="detail">
                A personal website redesigned with an AngularJS framework. Also added HTML5 and CSS3 functionalities. Animated page headers via Canvas.
                <span class="github-link"><a href="{{projects.newSite.github}}" target="_blank">Fork me</a></span>
            </p>
            <div class="tools">
                <span class="tech-text">Technology:</span> Javascript, AngularJS, Require.js, HTML5, Canvas, CSS3, jQuery, Grunt, Python, Flask
            </div>
        </div>
    </article>
    <hr />
    <article id="vacation-charts" class="project">
        <span class="snapshot">
            <a ui-sref="{{projects.vacationCharts.link}}" target="_blank">
                <img src="images/pie-charts.png" width="100%" />
            </a>
        </span>
        <div class="desc">
            <div class="title">
                Vacation Charts.
                <span class="sub-title"><a ui-sref="{{projects.vacationCharts.link}}" target="_blank">Try Me</a></span>
            </div>            
            <p class="detail">
                * Currently developing * Data visualization of data (currently vacations but will provide other data options soon) represented by pie charts. A CRUD single page application (SPA) that is powered by an AngularJS front-end and a Flask Rest API.
                <span class="github-link"><a href="{{projects.vacationCharts.github}}" target="_blank">Fork me</a></span>
            </p>
            <div class="tools">
                <span class="tech-text">Technology:</span> Javascript, AngularJS, Require.js, HTML5, CSS3, jQuery, Underscore.js, Lodash, Grunt, Python, Flask
            </div>
            <!-- <pie-charts></pie-charts> -->
        </div>
    </article>
    <hr>
    <article id="connect-four" class="project">
        <span class="snapshot">
            <a class="pointer" ui-sref="{{projects.connectFour.link}}" target="_blank" data-toggle="modal" data-target="#connect-four-modal">
                <img src="images/connectFour.png" width="100%" />
            </a>
        </span>
        <div class="desc">
            <div class="title">
                Connect Four.
                <span class="sub-title pointer"><a ui-sref="{{projects.connectFour.link}}" target="_blank" data-toggle="modal" data-target="#connect-four-modal">Try Me</a></span>
            </div>            
            <p class="detail">
                My implementation of the famous connect four game in Javascript and jQuery.
                <span class="github-link"><a href="{{projects.connectFour.github}}" target="_blank">Fork me</a></span>
            </p>
            <div class="tools">
                <span class="tech-text">Technology:</span> Javascript, jQuery
            </div>
        </div>
    </article>
    <div id="connect-four-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                    <h4 class="modal-title">My Connect Four</h4>
                </div>
                <div class="modal-body">
                    <connect-four></connect-four>       
                </div>
            </div>
        </div>
    </div>
    <hr />
    <article id="todos" class="project">
        <span class="snapshot">
            <a href="{{projects.todos.link}}" target="_blank">
                <img src="images/todosKO.png" width="100%" />
            </a>
        </span>
        <div class="desc">
            <div class="title">
                Simple To Dos.
                <span class="sub-title"><a href="{{projects.todos.link}}" target="_blank">Try Me</a></span>
            </div>     
            <p class="detail">
                A simple to dos application with full CRUD (create, read, update, delete) capability. It also features a drop and drag mechanism. Views are split into two: daily tasks and project tasks. Another feature is added (not complete) similar to a game leveling system where points increase in a given category based on matching texts. This provides a simple but great way to motivate oneself to complete their tasks.
                <span class="github-link"><a href="{{projects.todos.github}}" target="_blank">Fork me</a></span>
            </p>
            <div class="tools">
                <span class="tech-text">Technology:</span> Javascript, Knockout.js, HTML, CSS, jQuery, Grunt, Bower, Yeoman, Node.js, Express.js, MongoDB, Mongoskin, Require.js
            </div>
        </div>
    </article>
    <hr>
    <article id="old-site" class="project">
        <span class="snapshot">
            <a href="{{projects.oldSite.link}}" target="_blank">
                <img src="images/old-site.png" width="100%" />
            </a>
        </span>
        <div class="desc">
            <div class="title">
                Old personal website.
                <span class="sub-title"><a href="{{projects.oldSite.link}}" target="_blank">Try Me</a></span>
            </div>  
            <p class="detail">
                A personal website that provides informational data encompassing my resume, projects, blog, and a mini project sandbox.
                <span class="github-link"><a href="{{projects.oldSite.github}}" target="_blank">Fork me</a></span>
            </p>
            <div class="tools">
                <span class="tech-text">Technology:</span> Javascript, Knockout.js, HTML, Jade, CSS, jQuery, Grunt, Node.js, Express.js
            </div>
        </div>
    </article>
    <hr />
    <article id="space-duel-game" class="project">
        <span class="snapshot">
            <img src="images/space-duel.png" width="100%" />
        </span>
        <div class="desc">
            <div class="title">
                Space Duel Game                
            </div>  
            <p class="detail">
                2D two player battle game (either Player vs. CPU or Player vs. Player). A player wins the game if the opponent's health reaches zero either by being hit by a variety of weapons in which the health bar decreases or falls off the platform. Controls are done via the keyboard.
                <span class="github-link"><a href="{{projects.spaceDuelGame.github}}" target="_blank">Fork me</a></span>
            </p>
            <div class="tools">
                <span class="tech-text">Technology:</span> Python, Pygame
            </div>
        </div>
    </article>
</div> 