<div id="about">
	<div class="fun-facts">
		<div class="title">Fun Facts</div>
		<div class="facts-list desc">
			<p><strong>1.</strong> Seven years after high school, I reunited with my high school sweetheart.</p>
			<p><strong>2.</strong> Five years later we got married.</p>
			<p><strong>3.</strong> One year after we had a beautiful daughter.</p>
			<p><strong>4.</strong> Two years after we have another one coming.</p>
			<p><strong>5.</strong> I love sports and dancing.</p>
			<p><strong>6.</strong> I enjoy coffee, beer, and whiskey in no particular order.</p>
			<p><strong>7.</strong> I love my mom's spaghetti.</p>
			<p><strong>8.</strong> I didn't know what I wanted to do until 28.</p>
			<p><strong>9.</strong> I cannot go longer than 2 days without meat.</p>
			<p><strong>10.</strong> I love to exercise though my body doesn't show that.</p>
		</div>
	</div>
	<hr />
    <milestones-timeline></milestones-timeline>
	<div class="career-growth">
		<div class="title">Companies</div>
		<span class="left-arrow pointer"></span>
		<span class="right-arrow pointer"></span>
		<div class="company one">
			<p class="title">GE Software</p>
			<p class="desc">
				...gave me the first opportunity to develop a consumer facing enterprise application, which tremendously helped me improve from a junior front-end to the developer I am today.
			</p>
		</div>
		<div class="company two">
			<p class="title">Google</p>
			<p class="desc">
				...provided me tools and flexibility to learn a variety of languages and technologies in my path to become a web development ninja.
				...also introduced me to the game of ping pong.
				...free food
				...need I say more?
			</p>
		</div>
		<div class="company three">
			<p class="title">Cisco Systems</p>
			<p class="desc">
				...provided the opportunity to build my very first web application
				...really introduced me to web dev and the begininning of my inevitable passion and insatiable hunger to build applications.
			</p>
		</div>
	</div>
</div>
