#about {

	.career-growth {
		position: relative;
	}

	.title {
		text-align: center;
		margin-bottom: 20px;
	}

	.facts-list {
		text-align: center;
	}

	.company {
		display: inline-block;
		float: left;
		width: 30%;
		height: 400px;
		border: 1px solid black;
		text-align: center;
		padding: 20px;
		background-color: gold;
	}

	.company.one,
	.company.two {
		margin-right: 5%;
	}

	p.title {
		margin-bottom: 14%;
	}

	.left-arrow {
		position: absolute;
		left: -80px;
		top: 210px;
		border-top: 25px solid transparent;
		border-right: 45px solid gray;
		border-bottom: 25px solid transparent;
	}

	.left-arrow:hover {
		border-right: 45px solid black;
	}

	.right-arrow {
		position: absolute;
		right: -80px;
		top: 210px;
		border-top: 25px solid transparent;
		border-left: 45px solid gray;
		border-bottom: 25px solid transparent;
	}

	.right-arrow:hover {
		border-left: 45px solid black;
	}
}