.contact-info > .title,
.message-form .title {
    margin-bottom: 25px;
}

.name-text {
    color: gray;
}

.info {
    float: left;
}

.self-image {
    float: right;
    // width: 200px;
    // height: 200px;
    margin-top: -45px;
}

.message-form {
    clear: both;
    padding-top: 50px;

    .title {
        margin-top: 95px;
    }
}

.msg-form {
    float: left;
    width: 55%;
    margin-bottom: 55px;
}

.google-maps {
    float: right;
    margin-top: 38px;
}

.name {
    width: 49.5%;
    margin-bottom: 25px;

}

.message {
    width: 100%;
}

#email,
#subject {
    @extend .message;
    margin-bottom: 25px;
}

.submit {
    float: right;
}