#home {

	.background-title,
	.projects-title,
	.projects-button,
	.more-info,
	.background-body {
		text-align: center;
	}

	.background-title,
	.projects-title {
		margin-bottom: 20px;
	}

	.more-info {
		font-size: 18px;
	}

	.projects-button {
		.btn {
			margin: 25px 0 10px 0;
		}
		.btn:hover {
			background-color: darkgray;
		}
	}


	.more-info > div {
		display: inline-block;
		border: 1px solid black;
		padding: 5px 10px;
		margin: 25px 0 10px 0;
		background-color: lightgray;
	}

	.project {
		display: inline-block;
		border: 1px solid black;
		height: 305px;
		width: 240px;
		margin: 0 53px;
		text-align: center;
		vertical-align: middle;
	}

	@mixin imageDefault {
		background-position: center;
		background-repeat: no-repeat;
		z-index: 999;
	}

	@mixin marginDefault($top) {
		margin: $top 10px 10px 10px;
	}

	.projects-list {
		#site {
			background-image: url("/images/site-image.jpg"); 
			background-size: 186%;
			@include imageDefault;
			.meta {	
				@include marginDefault(17px);		
			}			
		}		
		#site:hover {
			transition: all 1s ease-in;
			background-image: none;
			background-color: bisque;
		}		
		#vacation-charts {
			background-image: url("/images/pie-charts.png"); 
			background-size: 100%;
			@include imageDefault;
			.meta {	
				@include marginDefault(14px);		
			}				
		}
		#vacation-charts:hover {
			transition: all 1s ease-in;
			background-image: none;
			background-color: burlywood;
		}
		#connect-four {
			background-image: url("/images/connectFour.png"); 
			background-size: 100%;
			@include imageDefault;
			.meta {	
				@include marginDefault(40px);		
			}	
		}
		#connect-four:hover {
			transition: all 1s ease-in;
			background-image: none;
			background-color: lightsalmon;
		}
	}
}