// bower:scss
// endbower

@import '_home';
@import '_projects.scss';
@import '_resume.scss';
@import '_contact.scss';
@import '_about.scss';

body {
    font-family: 'Bangers', cursive;
    padding: 0;
    font-size: 15px;
}

.title {
    font-size: 30px;
}

.desc {
    font-size: 23px;
}

#nav-title1 em {
    font-size: 50px;
}

hr {
    margin: 60px 0;
}

@mixin custom-navbar($image) {
    height: 430px;
    background-image:  
        linear-gradient(
            rgba(61, 60, 60, 0.7), 
            rgba(61, 60, 60, 0.7)
        ),
        url($image);
    background-color: #000;
    background-repeat: no-repeat;
}

.home-background {
    @include custom-navbar("/images/ironman-tech2.png");
    background-size: 100%, 75%;
    background-position: center, center 20%;
}

.projects-background {
    @include custom-navbar("/images/marvel-heroes.jpg");
    background-size: 100%;
    background-position: 0 15%;
}

.resume-background {
    @include custom-navbar("/images/avengers2.jpg");
    background-size: 100%;
    background-position: 0% 0%;
}

.about-background {
    @include custom-navbar("/images/avengers2.jpg");
    background-size: 100%;
    background-position: 0% 61%;
}

.contact-background {
    @include custom-navbar("/images/iron-man-black.jpg");
    background-size: 100%;
    background-position: 0 18%;
}

.footer {
    margin-top: 80px;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    // border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
    height: 250px;
    background-color: #3c3c3c;
    color: #fff;
}

@media (min-width: 768px) {
    .container {
        max-width: 1080px !important;
    }

    /* Remove the padding we set earlier */
    .header,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 70px;
    }
}

a.anomaly {
    color: #E47917;
}

.nav-header.active {
    border: 2px solid #fff;
    line-height: 16px;
}

.nav-header {
    color: #fff;
    font-size: 20px;
    height: 50px;
}

.nav-headers {
    position: fixed;
    top: 0;
    right: 0px;
    margin: 5px 35px 0 0;
}

.sticky-navbar {
    transition: all 1s ease-in;
    position: fixed;
    width: 100%;
    height: 65px;
    top: 0;
    left: 0;
    background-color: #2d2d2d;
    z-index: 999;
}

.navbar-brand {
    display: inline-block;
    color: #fff;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 30px;
    background-color: gray;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 9999;
}

#titles {
    opacity: 0;
}

.titles-animate {
    transition: opacity 1s ease-in;
    opacity: 1 !important;
}

.nav-title {
    color: #fff;
    position: absolute;
    margin-left: 50%; 
}

#nav-title1 {
    top: 140px;
}

#nav-title2 {
    top: 210px;
}

.nav-title > h1,
.nav-title > h2,
.nav-title > h3 {
    margin-left: -50%;
}

.sticky-title1 {
    top: -12px !important;
    position: fixed;
    z-index: 9999;
}

.sticky-title2 {
    top: 55px !important;
    position: fixed;
    z-index: 9999;
}

.navbar-toggle {
    background-color: white;
}

.icon-bar {
    background-color: black;
}

.foot-wrapper {
    margin-left: 50%;
}

.navbar-footer {
    margin-left: -37%
    // margin-left: -34%
}

.me {
    font-size: 17px;
    text-align: center;
    padding-top: 10px;
}

.footer-brand {
    @extend .navbar-brand;
    position: relative !important;
    top: 0;
    left: 1px;
    width: 40px;
    height: 40px;
    line-height: 35px;
    vertical-align: middle;
}

.copyright {
    clear: both;
    text-align: center;
    padding-top: 14px;
}

.social-icons {
    text-align: center;
    img {
        width: 25px;
        height: 25px;
        margin: 25px;
    }
}

.pointer {
    cursor: pointer;
}
