<div id="home">
    <p class="background-title">Background</p>
    <p class="background-body">
        My passion for web development started at the core, the languages that drive it.
        Now, I find myself fully immersed in the world of development striving to create
        simple and creative applications that can improve our day to day tasks.
    </p>
    <hr />
    <div class="projects-list">
        <p class="projects-title">Latest Projects</p>
        <div class="project">
            Website change from Knockout to Angular
        </div>
        <div class="project">
            To Do App from Knockout to Angular
        </div>
        <div class="project">
            Python Game: Space Duel
        </div>
        <div class="projects-button">
            <span>VIEW MORE PROJECTS</span>
        </div>
    </div>
    <hr />
    <div class="milestones">
        <p class="milestones-title">Milestones</p>
        <div class="timeline">
            <span class="event first">1983</span>
            <span class="event second">2012</span>
            <span class="event third">2013</span>
            <span class="event fourth">2014</span>
            <span class="event fifth">2015</span>
        </div>
        <hr class="line" />
    </div>
    <div class="more-info">
        <div>
            <span>Need some help with your website?</span>
            <span><a href="">HIRE ME TODAY</a></span>
        </div>
    </div>
</div>
