<div id="resume">
	<article class="technologies">
		<h3>TECHNOLOGIES</h3>
		<hr />
		<ul class="languages">
			<li>Angular.js, JavaScript, jQuery, Underscore.js, lodash, HTML5, CSS3, Sass, Bootstrap, Yeoman, Bower, Grunt, Python, Git, Vi, Highcharts</li>
			<li><span class="past-exp">PRIOR EXPERIENCE: </span>Node.js, Express.js, Mustache.js, Knockout.js, Jade, Flask, Django, Pygame, C, C++, Shell Scripting, mySQL, MongoDB, Mongoskin</li>
		</ul>
	</article>
	<div class="experience">
		<h3>WORK EXPERIENCE</h3>
		<hr />
		<section class="ge">
			<div class="role">FRONT-END DEVELOPER</div>
			<div class="company"><em>GE Software, September 2014 - June 2015</em></div>
			<ul class="tasks">
				<li>Develop a diagnostics and monitoring web interface that provides interactive data visualizations of real time performance, which can save $150M+ annually due to oil & gas equipment repair and unplanned downtime.</li>
				<li>Create extensible and reusable widgets that can scale with growth and across different business needs.</li>
				<li>Implement an email-like case management application for users to interact, identify, and predict machine behaviors that can prolong its life and increase revenue by $7M/week.   </li>
			</ul>
		</section>
		<section class="google">
			<div class="role">TECHNICAL OPERATIONS LEAD</div>
			<div class="company"><em>Google via Adecco, October 2012 - August 2014</em></div>
			<ul class="tasks">
				<li>Created an automation data-mining tool to upload 1500+ legacy data into existing site management tools to increase operator productivity by 50%.</li>
				<li> Performed pose analysis on over 10,000 panoramic image data, geometry debug, and communicate with various teams ranging from 10-20 operators and project managers per location worldwide.</li>
			</ul>
		</section>
		<section class="cisco">
			<div class="role">SOFTWARE ENGINEER INTERN</div>
			<div class="company"><em>Cisco Systems, June 2011 - July 2012</em></div>
			<ul class="tasks">
				<li>Implemented 65% of “Design Tracker” interactive web automation tool currently in use by a team of 20-30 engineers and project managers to track equipment development status valued at $100k+.</li>
				<li>Designed a status web tool to record individual work updates and generate status reports to increase project updates visibility across 2-5 teams.</li>
			</ul>
		</section>
	</div>
	<div class="education">
		<h3>EDUCATION</h3>
		<hr />
		<div class="masters">
			MASTERS DEGREE IN COMPUTER ENGINEERING AND NETWORK SYSTEMS
		</div>
		<div class="bachelors">
			BACHELORS DEGREE IN COMPUTRE ENGINEERING
		</div>
		<div class="almamater">
			<em>San Jose State University, San Jose, CA, Fall 2007 - May 2012</em>
		</div>
		<div class="coursework">
			<span>Relevant Coursework: </span>
			Object Oriented Programming, Database, Data Structures & Algorithms, Operating Systems, Computer Networking Concepts, TCP/IP Socket Programming, Computer Architecture
		</div>
	</div>
</div> 